.file-explorer {
    height: 50%;
}

.file-list {
    width: auto;
    gap: 2px;
    height: 100%;
}

.file-item, .file-actions {
    align-items: center;
}

.file-item {
    justify-content: space-between;
    padding: 0 5px;

    span {
        text-overflow: ellipsis;
        -webkit-line-break: 1;
    }

    .icon-button {
        img {
            width: 20px;
        }
    }
}


.file-explorer-actions {
    align-items: center;
    justify-content: space-between;

    .icon-button:not(.modal-button) {
        img {
            width: 28px;
        }
    }
}