.file-explorer {
    border: solid 1px black;

    background-color: rgba(28, 29, 37, 0.521);
    
    color: white;
    height: 500px;
}

.file-list {
    width: auto;
    gap: 2px;
    height: 100%;
}

.file-item, .file-actions {
    align-items: center;
}

.file-item {
    justify-content: space-between;
    background-color: rgb(255, 255, 255);
    color: black;
    padding: 0 5px;

    span {
        text-overflow: ellipsis;
        -webkit-line-break: 1;
    }

    .icon-button {
        img {
            width: 20px;
        }
    }
}


.file-explorer-actions {
    background-color: white;
    color: black;

    align-items: center;
    justify-content: space-between;

    .icon-button:not(.modal-button) {
        img {
            width: 28px;
        }
    }
}