@import url("node-output.css");
@import url("slots.css");

.node {
  width: fit-content;
  min-width: 150px;
  
  display: grid;
  user-select: none;

  padding: 2px 5px;
  background-color: var(--node-color);
  border: 1px solid var(--stroke-color);
}

.node-header {
  height: fit-content;
  display: flex;
  padding: 0 5px;
  align-items: center;
  cursor: default;
}

.slot-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.slot-grid-overlay, .node-contents {
  grid-area: 1 / 1;
}

.slot-grid-overlay {
  pointer-events: none;
  margin: -12px -14px;
  align-content: center;
}

.slot-grid-column {
  display: grid;
  grid-template-columns: 1fr;
}

.node-button {
  img {
    width: 20px;
  }
}

.anchored-slot-grid {
  pointer-events: none;

  justify-content: space-between;
  display: grid;
  grid-template-rows: 1/3fr 1/3fr 1/3fr;
  grid-template-columns: 3fr;

  width: 100%;
  height: 100%;
}

.node-anchor {
  justify-content: center;
  pointer-events: none;
  align-items: center;
  display: flex;
  gap: 10px;
}

.side-anchors {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.left-anchor, .right-anchor {
  width: fit-content;
  flex-direction: column;
}

.left-anchor {
  margin-right: auto;
}

.right-anchor {
  margin-left: auto;
}

.top-anchor, .bottom-anchor {
  width: fit-content;
  margin: 0 auto;
}

.top-anchor {
  margin-bottom: auto;
}

.bottom-anchor {
  margin-top: auto;
}


.selected-mode {
  background-color: var(--node-selected-color);
  .node-header {
    cursor: grab;
  }
}

/* Slots */


.slot-container {
}

.node-field {
  width: 100%;
  label {
    margin-right: 10px;
  }

  input {
    margin-left: auto;
    margin-right: 0;
  }
}