.node-slot {
    padding: 2px 0;
    align-items: center;
    height: fit-content;
    display: flex;
    gap: 5px;
}
.slot-label {
    text-overflow: ellipsis;
    overflow: hidden;
}

.slot-dot {
  pointer-events: auto;
  width: 12px;
  height: 12px;
  background: #444;

  border: 2px solid #888;
  border-radius: 50%;
}

.slot-dot.output-slot {
  border-radius: 0;
}

.slot-dot:hover {
  transform: scale(1.3);
  cursor: crosshair;
}

.input-slot {
  .slot-dot {
    background-color: var(--dark-input-color);
    border-color: var(--input-color);
  }
}

.output-slot {
  flex-direction: row-reverse;
  .slot-dot {
    background: var(--dark-output-color);
    border-color: var(--output-color);
  }
}

.connected-slot.output-slot, .selected-slot.output-slot {
  .slot-dot {
    background: var(--output-color);
  }
}

.connected-slot.input-slot, .selected-slot.input-slot {
  .slot-dot {
    background: var(--input-color);
  }
}
