.docs-view-body {
    display: grid;
    height: stretch;
    grid-template-columns: 200px minmax(0, 1fr);
    grid-template-rows: minmax(0, 1fr) auto;
    gap: 20px;
    overflow-y: scroll;
}

.docs-content, .docs-left-panel {
    display: flex;
    flex-direction: column;
}

.docs-left-panel {
    background-color: var(--dark-overlay-background);
    width: auto;
}

.docs-content {
    overflow-y: scroll;
    
    word-break: break-all;
    gap: 8px;
    h2 {
        font-size: 1.3rem;
    }
    h3 {
        font-size: 1.1rem;
    }
}

.docs-sections {
    .section-header {
        flex-direction: row-reverse;
        padding: 4px 2px;
    }
}

.tag-holder, .path-holder, .docs-tag {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    word-break: normal;
}

.docs-tag {
    font-size: 0.9rem;
}

.tag-icon {
    width: 1.2rem;
    height: 1.2rem;
}


.docs-slot-header {
    display: flex;
    width: stretch;
    gap: 10px;

    .node-slot {
        width: fit-content;
        text-align: left;
        flex-direction: row;
        min-width: auto;
    }
}

.docs-header-badges {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.docs-header-badges > .tag-holder {
    background-color: var(--dark-overlay-highlight);
    border-radius: 4px;
    padding: 3px;
    gap: 2px;
}

.docs-href {
    border-radius: 4px;
    text-decoration: none;
    transition: background-color 30ms linear;
}

.docs-href:hover {
    background-color: var(--dark-overlay-highlight);
}

.tag-holder > .docs-href {
    background-color: var(--dark-overlay-highlight);
}

.tag-holder > .docs-href:hover {
    background-color: var(--overlay-highlight);
}

.field-grid > .docs-href {
    text-decoration: underline;
}

.field-grid > .docs-href:hover {
    .field-holder {background-color: var(--overlay-highlight);}
}

@media (max-width: 1024px) {
    .docs-view-body {
        grid-template-columns: 1fr;
        grid-template-rows: 100px minmax(0, 1fr) ;
    }
}