.docs-view-body {
    display: grid;
    height: stretch;
    grid-template-columns: 200px minmax(0, 1fr);
    gap: 20px;
    overflow-y: scroll;
}

.docs-content, .docs-left-panel {
    display: flex;
    flex-direction: column;
}

.docs-left-panel {
    background-color: var(--dark-overlay-background);
    width: auto;
}

.docs-content {
    gap: 8px;
    word-break: break-all;
    h2 {
        font-size: 1.3rem;
    }
    h3 {
        font-size: 1.1rem;
    }
}

.tag-holder, .path-holder, .docs-tag {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    word-break: normal;
}

.docs-tag {
    font-size: 0.9rem;
}

.tag-icon {
    width: 1.2rem;
    height: 1.2rem;
}


.docs-slot-header {
    display: flex;
    width: stretch;
    gap: 10px;

    .node-slot {
        width: fit-content;
        text-align: left;
        flex-direction: row;
        min-width: auto;
    }
}

.docs-slot-header > .tag-holder {
    background-color: var(--dark-overlay-highlight);
    border-radius: 4px;
    padding: 2px;
    gap: 2px;
}

@media (max-width: 1024px) {
    .docs-view-body {
        grid-template-columns: 1fr;
        grid-template-rows: 100px minmax(0, 1fr) ;
    }
}