@import url("~/style/panels/import.css");
@import url("~/style/misc/misc.css");
@import url("~/style/notifications.css");

.viewport {
  z-index: 1;
  cursor: crosshair;
}

.editor-ui {
  z-index: 2;
  inset: 0;

  pointer-events: none;

  position: absolute;
  width: 100vw;
  height: 100vh;
}

.left-tab, .right-tab, .middle-tab {
  pointer-events: auto;
}


.right-tab {
  align-items: end;
  width: 30%;
  pointer-events: none;

  * {
    pointer-events: auto;
  }
}


.left-tab-holder {
  padding: 10px;
  gap: 10px;

  width: fit-content;
  min-width: 300px;
}

.left-tab {
  height: 100%;
  
  border: solid 1px black;
  background-color: rgba(28, 29, 37, 0.521);
}

.middle-tab-holder {
    display: grid;
    width: 80%;
    padding: 20px;
}

.middle-tab {
  pointer-events: none;

  width: 100%;
  height: 100%;
  flex-direction: column-reverse;
}

.middle-tab, .middle-tab-overlay {
    grid-area: 1 / 1;
}

.middle-tab-overlay {
    z-index: 3;
    width: 100%;
}


.tool-selector {
  width: 100%;
  margin: 0 auto;
  ul {
    pointer-events: auto;
    width: fit-content;
    margin: 0 auto;
    padding: 0;

    list-style: none;

    li {
      margin: 0 10px;
    }
  }
}