select {
    background-color: var(--overlay-highlight);
    border-color: var(--stroke-color);
}

@keyframes animate_open {
    0% { height: 0; }
    100% {  }
}

.tab-modal {
    background-color: white;
    border: solid black 1px;
    align-items: center;
}

.modal-button {
    width: fit-content;
    height: fit-content;
    
    padding: 4px;
}

.modal-button.active {
    transform: scale(1.2);
}

.modal-content {
    overflow: hidden;
}

.modal-content.open {
    animation: animate_open 300ms;
}

.modal-content.closing {
    transition: height 250ms ease-out;
    height: 0;
}

@keyframes scaleUp {
  0% { transform: scale(0); }
  95% { transform: scale(1.2); }
  100% { transform: scale(1); }
}

.icon-button {
    /* animation: scaleUp 100ms ease-out; */
    display: flex;
    align-items: center;

    background: none;
    border: none;

    cursor: pointer;
}
.icon-button > img:not(.small-icon, .medium-icon, .dropdown-icon) {
    width: 32px;
    height: 32px;
}

.icon-button:hover {
    transform: scale(1.2);
}

.icon-button.no-animation:hover {
    transform: inherit;
}

.selectable-button {
    border: none;
    background-color: var(--light-main-color);
}

.selectable-button.active {
    background-color: var(--main-color);
}

.theme-button-holder {
    display: flex;
    align-items: center;

    width: fit-content;
    height: fit-content;
    pointer-events: auto;
}

.dropdown-button {
    display: flex;
    align-items: center;

    border: none;
    background-color: transparent;
}

.dropdown-button:hover {
    background-color: var(--overlay-highlight);
    color: var(--font-color);
}