.tab-modal {
  background-color: white;
  border: solid black 1px;
  align-items: center;
}

@keyframes scaleUp {
  0% { transform: scale(0); }
  95% { transform: scale(1.2); }
  100% { transform: scale(1); }
}

.icon-button {
    animation: scaleUp 100ms ease-out;
    display: flex;
    align-items: center;

    background: none;
    border: none;

    cursor: pointer;
    img {
        width: 32px;
        height: 32px;
    }
}

.icon-button:hover {
    transform: scale(1.2);
}

.icon-button.no-animation:hover {
    transform: inherit;
}

