@keyframes animate_open {
    0% { height: 0; }
    100% {  }
}

.tab-modal {
    background-color: white;
    border: solid black 1px;
    align-items: center;
}

.modal-button {
    width: fit-content;
    height: fit-content;
    
    padding: 4px;
}

.modal-button.active {
    transform: scale(1.2);
}

.modal-content {
    overflow: hidden;
}

.modal-content.open {
    animation: animate_open 300ms;
}

.modal-content.closing {
    transition: height 250ms ease-out;
    height: 0;
}

@keyframes scaleUp {
  0% { transform: scale(0); }
  95% { transform: scale(1.2); }
  100% { transform: scale(1); }
}

.icon-button {
    /* animation: scaleUp 100ms ease-out; */
    display: flex;
    align-items: center;

    background: none;
    border: none;

    cursor: pointer;
    img {
        width: 32px;
        height: 32px;
    }
}

.icon-button:hover {
    transform: scale(1.2);
}

.icon-button.no-animation:hover {
    transform: inherit;
}

