
.dropdown-section, .tab-container {
    display: grid;
    grid-template-rows: min-content 1fr;
}

.dropdown-section.expanded {
    height: 100%;
}

.tab-displayer {
    display: contents;
}

.tab-displayer > div {
    max-height: 100%;
    padding: 8px 12px;
}

.dropdown-content {
    position: absolute;
    padding: 2px 5px;
    
    border: 1px solid var(--stroke-color);
    background-color: var(--overlay-background);
}

.dropdown-icon {
    width: 20px;
}
.dropdown-icon.default-icon.expanded {
    transform: rotate(-90deg);
}