.output-displayer {
    margin-top: 10px;
    gap: 5px;
}

.output-selector {

}

.node-output-container {
    display: flex;
    justify-content: center;
}

.output-text {
    font-size: 24px;

    border: solid 2px;
    padding: 5px;
}

.slot-output {
    /* width: 100px; */
    display: none;
}

/* .slot-output:hover {
    display: block;
}

.slot-dot:hover {
    .slot-output {
        display: block;
    }
} */

.output-array-container {
    width: 100%;
}