
.search-container {
    height: 26px;
    position: relative;
}

.search-bar {
    box-sizing: border-box;
    padding: 4px 12px;
}

.search-bar.dropdown-visible {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.search-results-dropdown {
    z-index: 1;
    font-size: 0.9rem;
    min-width: stretch;
    max-width: 200%;
    max-height: 25vh !important;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background-color: var(--dark-overlay-background);
    border: solid 1px var(--stroke-color);

    padding: 8px;
}

.search-results-dropdown.unfocused {
    display: none;
}

.search-result-root {
    display: flex;
    text-align: right;
    opacity: 0.75;
    font-size: 0.55rem;
}

.search-result-title, .search-result-description {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    min-width: 0;
}

.search-result-description {
    font-size: 0.7rem;
    color: var(--secondary-font-color);
}

@media (max-width: 1024px) {
    .search-results-dropdown {
        max-width: stretch;
    }
}