.dropdown-section {
    
}

.section-header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    border: solid 1px var(--stroke-color);
    padding: 4px 12px;
}

.section-body {
    padding: 8px 12px;
}

.dropdown-icon {
    width: 20px;
}
.dropdown-icon.default-icon.expanded {
    transform: rotate(-90deg);
}