.highlightable:hover {
    z-index: 1;
    text-overflow: clip;
    overflow: visible;
    min-width: fit-content;
    background-color: var(--selection-color);
}

.selection-rect {
  position: absolute;
  background-color: var(--selection-color-alpha);
  border: solid 1px var(--selection-color-alpha);
  user-select: none;
  touch-action: none;
}

.connection-group {
  transition: stroke 100ms, stroke-width 200ms;
  stroke: currentColor;
}

.connection-path, .connection-path-preview {
  pointer-events: none;
  stroke-width: 2;
  fill: none;
}

.connection-arrow-text {
  font-size: 10px;
  fill: currentColor;
  pointer-events: none;
}

.clickable-path {
  pointer-events: stroke;
  cursor: pointer;
  stroke: transparent;
  stroke-width: 15;
  fill: none;
}

.connection-group:hover path:last-child {
  stroke: var(--selection-color);
  stroke-width: 3;
}
.connection-group:hover > text {
  stroke: var(--selection-color);
  color: var(--selection-color);
}

.connection-path-preview {
  stroke: currentColor;
  opacity: 0.5;
}

.unsynced {
  opacity: 0.5;
}

.unsynced:hover {
  opacity: 0.7;
}

.failed {
  background-color: rgb(190, 54, 54) !important;
  opacity: 0.7;
}

.connection-group.current-step {
  stroke: var(--selection-color);
  color: var(--selection-color);
}

.current-step {
  background-color: var(--selection-color);
}


.selected-docs-indicator {
  z-index: 100;
  pointer-events: none;
  transition: top 0.2s cubic-bezier(0.25, 1, 0.5, 1),
        left 0.2s cubic-bezier(0.25, 1, 0.5, 1),
        width 0.2s cubic-bezier(0.25, 1, 0.5, 1),
        height 0.2s cubic-bezier(0.25, 1, 0.5, 1),
        opacity 0.15s ease;
    
  background-color: var(--selection-color-alpha);
  border: 2px solid var(--selection-color-alpha);
}

.selected-docs-indicator.in-graph {
    /* transition: width 0.15s ease, height 0.15s ease, opacity 0.1s ease; */
}

.selected-docs-popup {
  min-width: 100px;
  max-width: 200px;
  min-height: 40px;
  border-radius: 8px;
  padding: 8px;
  margin: 4px;

  pointer-events: auto;
  background-color: var(--overlay-background);
  border: solid 1px var(--stroke-color);
}

.docs-popup-header > p {
  text-overflow: ellipsis;
  overflow: hidden;
}

.selected-docs-popup:not(.right):not(.top) {
  border-bottom-left-radius: 0;
}

.selected-docs-popup:not(.right).top {
  border-top-left-radius: 0;
}

.selected-docs-popup.right:not(.top) {
  border-bottom-right-radius: 0;
}
.selected-docs-popup.right.top {
  border-top-right-radius: 0;
}