.scrollable.container {
    overflow-y: scroll;
    max-height: 100%;
}

.scrollable.row-container {
    overflow-x: scroll;
    overflow-y: hidden;
    height: fit-content;
    max-width: 100%;
}

*::-webkit-scrollbar-thumb {
    background: var(--light-third-color);
    border: 1px solid var(--secondary-color);
}

*::-webkit-scrollbar {
    width: 8px;
}