/* Raw colors (default theme) */
:root {
  --editor-background-color: #fbffff;
  --font-color: #24262A;
  --secondary-font-color: #3C3D3F;

  --node-color: #f4f6fada;
  --stroke-color: #D4D4D4;
  
  --group-color: #f9f9f9;
  --group-header-color: #D7E4EB;
  
  --overlay-background: #fff;
  --overlay-font-color: var(var(--font-color));
  --overlay-highlight: #BBCBD9;
  --dark-overlay-highlight: #DAE6F0;

  --dark-overlay-background: #fff;
}

/* Color Schemes */
[data-theme="dark"] {
  --editor-background-color: #1e1e24;
  --font-color: #F4F6FA;
  --secondary-font-color: #a1a1aa;

  --node-color: #090C14;
  --stroke-color: #485A88;
  
  --group-color: #923eff;
  --group-header-color: #923eff;
  
  --overlay-background: #141B21;
  --dark-overlay-background: #0C1014;

  --overlay-highlight: #243341;
  --dark-overlay-highlight: #923eff;
}


/* TODO: Implement DataType color schemes */
:root {
  --input-color: #70AEB0;
  --dark-input-color: #152425;
  --output-color: #FE8263;
  --dark-output-color: #251715;
}

:root {
  --main-color: #7bb4ff;
  --light-main-color: #dcebfd;
  --light-third-color: rgb(19, 21, 22);
  --secondary-color: rgba(255, 255, 255, 0.651);

  --selection-color: var(--main-color);
  --selection-color-alpha: #7bb4ff4d;
  --node-selected-color: var(--light-main-color);
}
