/* Raw colors (default theme) */
:root {
  --editor-background-color: #fbffff;
  --font-color: #24262A;
  --secondary-font-color: #3C3D3F;

  --node-color: #f4f6fada;
  --stroke-color: #D4D4D4;
  
  --group-color: #f9f9f9;
  --group-header-color: #D7E4EB;
  
  --overlay-background: #fff;
  --overlay-font-color: var(var(--font-color));
  --overlay-highlight: #BBCBD9;
  --dark-overlay-highlight: #DAE6F0;
}

/* Color Schemes */
[data-theme="dark"] {
  --editor-background-color: #1e1e24;
  --font-color: #f5f5f7;
  --secondary-font-color: #a1a1aa;

  --node-color: #2a2b36da;
  --stroke-color: #3f3f46;
  
  --group-color: #22232a;
  --group-header-color: #2d3748;
  
  --overlay-background: #18181b;
  --overlay-highlight: #4a5568;
  --dark-overlay-highlight: #2d3748;
}


/* TODO: Implement DataType color schemes */
:root {
  --input-color: #70AEB0;
  --dark-input-color: #152425;
  --output-color: #FE8263;
  --dark-output-color: #251715;
}

:root {
  --main-color: #7bb4ff;
  --light-main-color: #dcebfd;
  --light-third-color: rgb(19, 21, 22);
  --secondary-color: rgba(255, 255, 255, 0.651);

  --selection-color: var(--main-color);
  --selection-color-alpha: #7bb4ff4d;
  --node-selected-color: var(--light-main-color);
}
