
.column-row {
    display: flex;
    align-items: center;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

.button-tab {
    justify-content: space-between;
    height: 45px;
    background-color: white;
}

.tabs {
    display: flex;
    align-items: center;
    list-style: none;
    padding: 10px 5px;
}

.tab-item {
    height: 100%;
    align-content: center;

    border-right: 2px solid gray;
}

.tab-item:hover {
    transition: all 100ms;
    color: white;
    background-color: var(--selection-color);
}

.modal-button {
    width: fit-content;
    height: fit-content;
    
    padding: 4px;
}