
.column-row {
    display: flex;
    align-items: center;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

.button-tab {
    height: 30px;
    background-color: white;
}

.tabs {
    height: 100%;
    display: flex;
    align-items: center;
    list-style: none;
    padding: 0;
}

.tab-item {
    height: 100%;
    align-content: center;

    padding: 0 5px;
    border-right: 2px solid gray;
}

.tab-item:hover {
    transition: all 100ms;
    color: white;
    background-color: var(--selection-color);
}