@import url("misc/scrollbars.css");

div {
    border-radius: var(--default-border-radius);
}

.row-container, .container {
    gap: 4px;
    display: flex;
}

.container {
    width: fit-content;
    flex-direction: column;
}

.container.padded, .row-container.padded {
    padding: 8px;
}

.container.side-padded, .row-container.side-padded {
    padding: 4px 8px;
}

.space-between {
    justify-content: space-between;
}

.icon-span {
    width: fit-content;
    align-items: center;
    display: flex;

    img {
        width: 100%;
    }
}

.medium-icon {
    width: 32px;
}

img.small-icon {
    width: 28px;
}

.small-icon {
    img {
        width: 28px !important;
    }
}

.visually-hidden {
    display: none;
    position: absolute;
    overflow: hidden;
}

/*  */
.button-tab {
    padding: 4px 8px;
    justify-content: space-between;
    height: 45px;
    background-color: white;
}

.tabs {
    display: flex;
    align-items: center;
    list-style: none;
    padding: 0;
}

.tab-item {
    height: 100%;
    align-content: center;

    border-right: 2px solid gray;
}

.tab-item:hover {
    transition: all 100ms;
    color: white;
    background-color: var(--selection-color);
}

.expand-icon {
    transition: transform 100ms;
}

.expand-icon.expanded {
    transform: scaleY(-1);
}

.fill {
    width: 100%;
}

@media only screen and (max-width: 768px) {
    .row-container {
        flex-direction: column;
        gap: 6px;
    }

    .keep.row-container {
        flex-direction: row;
    }
}
