@import url("misc/scrollbars.css");

.center-items {
    align-items: center;
}

div {
    border-radius: var(--default-border-radius);
}

.view-displayer {
    padding: 4px;
    max-height: 100%;
    pointer-events: auto;
    background-color: var(--overlay-background);
    border: 1px solid var(--stroke-color);
    display: flex;
    flex-direction: column;
}

.view-header {
    display: flex;
    align-items: center;
}

.row-container, .container {
    gap: 4px;
    display: flex;
}

.container {
    width: fit-content;
    flex-direction: column;
}

.container.padded, .row-container.padded {
    padding: 8px;
}

.container.side-padded, .row-container.side-padded {
    padding: 4px 8px;
}

.space-between {
    justify-content: space-between;
}

.icon-span {
    width: fit-content;
    align-items: center;
    display: flex;

    img {
        width: 100%;
    }
}

img.medium-icon {
    width: 32px;
}

.medium-icon {
    img {
        width: 32px;
    }
}

svg {
    width: 32px;
    height: 32px;
}

svg.small-icon {
    width: 28px;
}

svg.smaller-icon {
    width: 20px;
}

.smaller-icon {
    svg {
        width: 20px;
        height: 20px;
    }
}

.small-icon {
    svg {
        width: 28px;
        height: 28px;
    }
}

.visually-hidden {
    display: none;
    position: absolute;
    overflow: hidden;
}

.tab-selector {
    height: fit-content;
    display: flex;
    align-items: center;
    list-style: none;
    padding: 8px 12px;
}

.tab-button {
    align-content: center;

    background-color: transparent;
    padding: 2px 5px;
    border-radius: 4px;
    border: none;
}

.tab-button:hover {
    background-color: var(--dark-overlay-highlight);
}

.tab-button.selected {
    background-color: var(--overlay-highlight);
}

.expand-icon {
    transition: transform 100ms;
}

.expand-icon.expanded {
    transform: scaleY(-1);
}

.fill {
    width: stretch;
}

@media only screen and (max-width: 768px) {
    .row-container {
        flex-direction: column;
        gap: 6px;
    }

    .keep.row-container {
        flex-direction: row;
    }
}
