@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Solway:wght@300;400;500;700;800&display=swap');
:root {
  --default-font-size: 16px;
}

* {
  font-family: "Inter";
  color: var(--overlay-font-color);
}

html {
  font-size: var(--default-font-size);
}