
.node-type-selector {
  height: 100%;
  overflow-y: scroll;
  justify-content: left;
  display: flex;
  flex-direction: column;
}

.node-type-preview {
  border-radius: 8px;
  padding: 2px;

  pointer-events: none;
  transform: scale(0.75);
  max-width: auto;

  .node-field {
    input {
      width: 100%;
    }
  }
}

.node-type-preview:hover {
  transform: scale(0.8);
}

.selected-node-type {
  transform: scale(0.9);
}

.selected-node-type:hover {
  transform: scale(1.0);
}
