.sidebar-notification-holder {
    user-select: none;
}

.sidebar-notifications {
    gap: 8px;

    pointer-events: auto;
    width: fit-content;
    height: 100px;
}

@keyframes spawnNotification {
    0% { width: 0; }
    100% { }
}

@keyframes fadeOutFade {
  0% { opacity: 1; }
  70% { opacity: 1; }
  100% { opacity: 0.3; }
}

.notification-badge {
    justify-content: space-between;

    gap: 10px;
    width: 300px;
    align-items: center;
    background-color: #140f0f23;
}

.notification-header {
    width: 100%;
}

.notification-content {
    align-items: center;
    
    p {
        -webkit-line-break: 1;
    }
}

.notification-description {
    color: rgb(51, 51, 54);
}


.notification-badge.error {
    background-color: red;
}

.notification-badge.warning {
    background-color: orange;
}

.notification-badge.debug {
    background-color: green;
}

.notification-badge.info {
    background-color: rgba(187, 187, 209, 0.205);
}

.notification-badge.read {
    opacity: 1;
    transform: scale(0.9);
}

.notification-badge.unread {
    animation: fadeOutFade 30s forwards, spawnNotification 200ms linear;
}

.notification-badge.unread.fade-fast {
    animation: fadeOutFade 10s forwards;
}

.stack-counter {
    font-size: 0.9rem;
    font-weight: bold;
}