@import url("misc/file_explorer.css");

.server-panel {
    padding: 10px 8px;
}

.panel-column {
    display: flex;
    flex-direction: column;
}

.panel-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.control-panel {
    justify-content: right;
}

.state-panel {
    display: flex;
}

.status {
    height: 0;
    width: 0;
    border-radius: 50%;
    padding: 12px;
    margin: 5px;
    background-color: gray;
}

.status.connected {
    background-color: rgb(78, 232, 78);
}

.status.error {
    background-color: rgb(232, 53, 53);
}

.status.disconnected {
    background-color: gray;
}

@keyframes scaleUp {
  0% { transform: scale(0); }
  95% { transform: scale(1.2); }
  100% { transform: scale(1); }
}

.icon-button {
    animation: scaleUp 100ms ease-out;
    display: flex;
    align-items: center;

    background: none;
    border: none;

    cursor: pointer;
    img {

        width: 32px;
        height: 32px;
    }
}

.icon-button:hover {
    transform: scale(1.2);
}

.icon-button.no-animation:hover {
    transform: inherit;
}

@keyframes keepSpinning {
    0% {transform: rotate(0deg);}
    100% {transform: rotate(360deg);}
}

.auto-loop {
    animation: keepSpinning 1500ms linear infinite;
}

.wait-resume {
    animation: keepSpinning 1500ms linear infinite;
}

.icon-button.refresh-button:active {
    animation: keepSpinning 500ms linear 1;
}