@import url("style/components.css");
@import url("style/misc.css");
@import url("style/node.css");
@import url("style/node-selector.css");
@import url("style/panels.css");


:root {
  --selection-color: #7bb4ff;
  --selection-color-alpha: #7bb4ff4d;
  --node-selected-color: #dcebfd;
}

* {
  margin: 0;
}

body {
  font-family: Gordita, Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  overflow: hidden;
}

.viewport {
  z-index: 1;
  cursor: crosshair;
}

.editor-ui {
  z-index: 2;
  inset: 0;

  pointer-events: none;

  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
}

.left-tab, .right-tab, .middle-tab {
  pointer-events: auto;

  display: flex;
  flex-direction: column;
}

.right-tab {
  /* display: none; */
  width: 30%;
  pointer-events: none;

  * {
    pointer-events: auto;
  }
}

.left-tab {
  width: fit-content;
  min-width: 300px;
  background-color: rgba(28, 29, 37, 0.521);
}

.middle-tab {
  pointer-events: none;

  padding: 20px;
  width: 80%;
  flex-direction: column-reverse;
}

.tool-selector {
  width: 100%;
  margin: 0 auto;
  ul {
    pointer-events: auto;
    width: fit-content;
    margin: 0 auto;
    padding: 0;

    list-style: none;
    display: flex;

    li {
      margin: 0 10px;
    }
  }
}


.move-mode {
  cursor: grab;
}

.moving-mode {
  cursor: grabbing;
}

.remove-input {
  pointer-events: none;
}