* {
  margin: 0;
}

body {
  font-family: Gordita, Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  overflow: hidden;
}

.selection-rect {
  position: absolute;
  background-color: rgba(123, 180, 255, 0.3);
  border: rgba(0, 0, 200, 0.4) solid 1px;
  user-select: none;
  touch-action: none;
}