@import url("style/font.css");
@import url("style/colors.css");
@import url("style/containers.css");
@import url("style/components/import.css");

* {
  margin: 0;
}

body {
  font-family: Gordita, Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  overflow: hidden;
}

.move-mode {
  cursor: grab;
}

.moving-mode {
  cursor: grabbing;
}

.remove-input {
  pointer-events: none;
}